input:hover{
	background-color: #00ff00;
}

input:focus{
	background-color: #00ffff;
}

.personal_data{
	background-color: yellow;
}

.preferences{
	background-color: blue;
}

.buttons{
	background-color: red;
}

h1::first-letter{
	font-size: 200%;
	color: #00ff00;
}